*{
    /* border: solid red 1px; */
    box-sizing: border-box;
}
html, body{
    margin: 0px;
    padding: 0px;
    color: white;
}
.main-div{
    height: 800px;
    background-color: #004494;
    display: flex;
    justify-content: center;

}
.first-child{
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divider{
    height: 1px; 
    background-color: white;
}

.second-child{
   display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.second-child-fat{
    /* flex-grow: 3; */
    flex-direction: row;
   display: flex;
   align-items: flex-start;
   justify-content: space-evenly;
   gap: 10px;
}
.third-child{
    display: flex;
    gap: 20px;
 
}
.third-child1{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.third-child2{
    display: flex;
    flex-direction: column;
}
a{
    color: white;
}
.altezza{
    height: 40px;
}
.ul-margin{
    margin: 0px;
}
